@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.lp-section{
  padding: 5rem 0;
}
.lp-section.green{
  background-color: #DDF5E7;
}
.page-h1-title, .page-h2-title{
    font-weight: 700;
    color: #191919;
}
.txt-bold{
  font-weight: 700;
}
.txt-small{
  font-size: .8em;
}
.btn-pink-FC3A6A{
  background-color: #FC3A6A;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.motion-lp{
  padding-top: 2rem;
}
.big-number-box{
  padding: 2rem 0;
  position: relative;
}
.big-number-box::before{
  position: absolute;
  content: url(/img/big-number-risk-min.png);
  bottom: 0;
  left: 26%;
}
.big-number-box p{
  margin-bottom: 0;
  color: #29354D;
}
.big-numbers{
  color: #29354D;
  font-size: 2.2em;
  font-weight: 700;
}
.pill-box{
  padding: 2rem 0;
}
.pill-box .nav-pills .nav-link{
  color: #29354D;
  border-bottom: 3px solid #DDF5E7;
  margin-bottom: 1rem;
  border-radius: 0;
}
.pill-box .nav-pills .nav-link.active{
  color: var(--bs-nav-pills-link-active-color);
  background-color: #0d6efd00;
  border-bottom: 3px solid #1BBB60;
  color: #29354D;
  font-weight: 700;
  border-radius: 0;
}
.cta-section{
  padding: 2rem 0;
}
.ilustra-cliente{
  padding: 2rem 0;
}
.testimonial{
  padding: 0 2rem;
  position: relative;
}
.testimonial::before{
  position: absolute;
  content: url(/img/blob.svg);
  bottom: -5rem;
  left: -4rem;
  width: 125%;
  z-index: -1;
}
.form-section{
  padding: 1.5rem;
}
.hs-richtext p{
  text-align: center;
  color: #191919;
  font-weight: 300;
  font-size: .8em;
  padding-bottom: 0.5rem;
}
  .hs-form-field{
    padding-bottom: 1rem;
}
.hs-input{
    width: 100%;
  padding: 0.2em;
}
.hs-button{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fe376d;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border: none;
}
  .hs-error-msgs{
    padding-left: 0;
  list-style: none;
}
.hs-error-msg{
    font-family: Poppins, sans-serif;
  color: #ff0000;
  font-size: .8em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: left;
}