@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.lp-section{
  padding: 3rem 0;
}
.lp-section.green{
  background-color: #DDF5E7;
}
.lp-section.blue{
  background-color: #E9F1FE;
}
p{
  color: #29354D;
}
.txt-white{
  color: #fff;
}
.page-h1-title, .page-h2-title{
    font-weight: 700;
    color: #29354D;
}
.blue{
  color: #006ED8;
}
.small-title{
  font-size: 1.2em;
}
.txt-bold{
  font-weight: 700;
}
.txt-small{
  font-size: .8em;
}
.txt-green{
  color: #1BBB60;
}
.txt-pink{
  color: #FC3A6A;
}
.btn-pink-FC3A6A{
  background-color: #FF3486;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: .2s ease-in-out;
  font-size: .9em;
  width: 250px;
  max-width: 100%;
  margin-top: 1rem;
}
.btn-pink-FC3A6A:hover{
  background-color: #fc1851;
  color: #fff;
}
.navbar{
  padding: 1rem 0;
}
.motion-lp{
  padding-top: 2rem;
}
.big-number-box{
  padding: 2rem 0;
  position: relative;
}
.big-number-box::before{
  position: absolute;
  content: url(/img/big-number-risk-min.png);
  bottom: 0;
  left: 26%;
}
.big-number-box p{
  margin-bottom: 0;
  color: #29354D;
}
.big-numbers{
  color: #29354D;
  font-size: 2.2em;
  font-weight: 700;
}
.pill-box{
  padding: 2rem 1rem;
}
.pill-box .nav-pills .nav-link{
  color: #29354D;
  border-bottom: 3px solid #DDF5E7;
  margin-bottom: 1rem;
  border-radius: 0;
}
.pill-box .nav-pills .nav-link.active{
  color: var(--bs-nav-pills-link-active-color);
  background-color: #0d6efd00;
  border-bottom: 3px solid #1BBB60;
  color: #29354D;
  font-weight: 700;
  border-radius: 0;
}
.cta-section{
  padding: 2rem 0;
}
.ilustra-cliente{
  padding: 2rem 0;
}
.testimonial{
  padding: 0 2rem;
  position: relative;
}
.testimonial::before{
  position: absolute;
  content: url(/img/blob.svg);
  bottom: -5rem;
  left: -4rem;
  width: 125%;
  z-index: -1;
}
.form-section{
  padding: 1.5rem;
}
.space-top-bottom{
  padding: 1rem 0;
}
.hs-richtext p{
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: .8em;
  padding-bottom: 0.5rem;
}
.hs-form-field{
  padding-bottom: 1rem;
}
.hs-input{
    width: 100%;
  padding: 0.2em;
}
.hs-button{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fe376d;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border: none;
}
  .hs-error-msgs{
    padding-left: 0;
  list-style: none;
}
.hs-error-msg{
    font-family: Poppins, sans-serif;
  color: #ff0000;
  font-size: .8em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: left;
}
.hs-field-desc{
  font-size: .7rem;
    padding: 5px 0;
}
.img-fluid.with-space{
  padding: 1rem 0;
}
.pill-box-blue{
  padding: 2rem 1rem;
}
.pill-box-blue .nav-pills .nav-link{
  border-radius: 0;
  border-bottom: 2px solid #FF3486;
}
.pill-box-blue .nav-pills .nav-link.active{
  background-color: #FF3486;
  border-radius: 0;
}
.pill-box-blue .tab-content{
  padding: 3rem 0;
}
.form-box.bg-blue{
  padding: 2rem 2rem;
  background-color: #006ED8;
  border-radius: 5px;
}
.form-box.bg-blue .hbspt-form .hs-form-field{
  color: #fff;
}
.text-link{
  padding: 1rem 0;
}
@media (min-width: 992px) { 
  .testimonial::before{
   content: none;
  }
  .second-video{
    display: none;
  }
 }

 @media (max-width: 554px){
  .hide-mobile{
    display: none;
  }
  .space-top-bottom{
    padding: 2rem 0;
  }
 }